{% extends 'base.html' %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}

    {% if object %}
        <a href="{% url 'delete_product' object.id %}">Delete</a>
    {% endif %}

    {% if object.created_by %}
        Product owner -> {{object.created_by}}
    {% endif %}
    {{form.as_p}}
    <!-- {{form.name.errors}}
    <div>Name: 
        <input type="text" name='name' value="{{form.name.value}}">
    </div>
    <div>{{form.price.errors}}</div>
    <div>Price: 
        <input type="number", name='price' value="{{form.price.value}}">
    </div> -->
    <button type="submit">Submit</button>
</form>
{% endblock content %}
    